html {
    background: lightseagreen
}

h1 {
    font-size: 2em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 8px;
}

body {
    height: 100vh;
    font-size: 20px;
}

#container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin-top: 8px;
}
    
#board-game {
    width: 70vmin;
    height: 70vmin;
}   


.square {
    height: 20vmin;
    width: 20vmin;
    border-radius: 10px; 
    margin: 2px;
}

#reset {

}


#reset-button {
   
}