html {
    background: lightseagreen
}

h1 {
    font-size: 5em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50em;
    margin-left: 30em;
}

#board-game {
    /* border: black solid 2px; */
    width: 50em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    margin: .75em;
    width: 15em;
    height: 15em;
    border-radius: 20px;
    border: solid black 6px;
    background-color: aquamarine;
    font-size:
}

#reset {
    display: flex;
    justify-content: center;
    margin: 4em;
}

#reset-button {
    background: lightsalmon;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 15em;
    height: 5em;
    border-radius: 20px;
    border: solid black 4px;
}