html {
    background: lightseagreen
}

body {
    /* display: flex;
    flex: wrap; */
    height: 100vh;
    font-size: 20px;
}

#container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin-top: 8px;
}
    
#board-game {
    width: 70vmin;
    height: 70vmin;
}   


.square {
    color: black;
    height: 21vmin;
    width: 21vmin;
    border-radius: 10px; 
    margin: 2px;
    font-size: 5em;
    background-color: rgb(174, 224, 255);
}

#reset {
    height: 200px;
    position: relative;
}


#reset-button {
    position: absolute;
    transform: translate( -50%, -50%);
    margin-left: 47%;
    margin-top: 10px;
    height: 10vmin;
    border-radius: 10px;
    width: 21vmin;
    gap: 10px;
    background-color: rgb(233, 172, 172);
}

.newgame-page {
    background: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10vmin;
    font-weight: bolder;
    position: absolute;
    width: 100%;
    height: 100%;
}

p {
    font-size: 12vmin;
    font-weight: bold;
}

#new-game {
    padding: .5em 1em;
    border: 0;   border-radius: 10px;
    font-size: .75em;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(32, 32, 32)
}

.newgame-page.hidden {
    display: none;
}
